html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

/* Search Bar  */
/* #search-bar {
  display: flex;
} */

#search {
  min-width: 80%;
  height: 50px;
  padding: 5px;
  background: #f8f7f5;
  border-radius: 10px 0 0 10px;
}

/* Handling Invalid Search Options */
#invalid-search {
  text-align: center;
  color: rgb(192, 58, 58);
}

/* Individual Meal Information */
#individual-meal-info {
  padding-left: 35%;
}

#individual-meal-info img {
  width: 400px;
  border-radius: 20px;
}

#individual-meal-info ul li {
  list-style: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.individual-meal {
  width: 200px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 20px 20px rgb(128, 128, 128);
  cursor: pointer;
}

.individual-meal img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

/* All Meals Information */
#all-meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-self: center;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #all-meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 30px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #all-meals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0 30px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #all-meals {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 0 30px;
  }
}
